In [1]:
import pandas as pd
import numpy as np

In [2]:
sal=pd.read_csv("E:\PROGRAMMING\Salary_Data.csv")
sal.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 608.0 bytes

In [13]:
X=sal.iloc[:, :-1].values
X.dtype

dtype('float64')

In [14]:
X.isarray()

AttributeError: 'numpy.ndarray' object has no attribute 'isarray'

In [11]:
X=sal.iloc[:, :-1]
X.dtype
X.isinstance()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [20]:
X=sal.iloc[:, :-1].values
print(type(X))

<class 'numpy.ndarray'>

In [23]:
X.shape

(30, 1)

In [21]:
Y=sal.iloc[:, 1].values
print(type(Y))

<class 'numpy.ndarray'>

In [22]:
Y.shape

(30,)

In [24]:
Y=Y.reshape(30,1)
Y.shape

(30, 1)

In [25]:
Y.ndim

2