In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
st_1=pd.read_csv(r'C:\Users\lenovo\Desktop\stabillity.csv')
st_1

     wheelbase  carlength  Unnamed: 2
0         88.6      168.8         NaN
1         88.6      168.8         NaN
2         94.5      171.2         NaN
3         99.8      176.6         NaN
4         99.4      176.6         NaN
..         ...        ...         ...
200      109.1      188.8         NaN
201      109.1      188.8         NaN
202      109.1      188.8         NaN
203      109.1      188.8         NaN
204      109.1      188.8         NaN

[205 rows x 3 columns]

In [39]:
st=st_1.dropna(axis=1, how='any')
st.head()

Empty DataFrame
Columns: [wheelbase, carlength, Unnamed: 2]
Index: []

In [25]:
X=st.iloc[:, :-1].values
y=st.iloc[:, :1].values

In [33]:
X

array([], shape=(0, 0), dtype=float64)

In [28]:
y

array([], shape=(0, 0), dtype=float64)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)

ValueError: With n_samples=0, test_size=0.3 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.