In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
new_df=pd.read_csv("E:\PROGRAMMING\Energy_Prices__Dollars_per_Million_Btu__Beginning_1970.csv")
new_df.head()

,Year,GDP Deflator,Sector,Coal,Distillate,Residual,Kerosene,Propane,Natural Gas,Electricity,Wood,Motor Gasoline,Jet Fuel
0,2016,1.0000,Commercial,NaN,11.45,6.10,13.27,12.61,5.99,42.35,NaN,NaN,NaN
1,2016,1.0000,Industrial,3.6,11.26,6.10,11.28,11.73,5.74,17.67,NaN,NaN,NaN
2,2016,1.0000,Residential,NaN,16.54,NaN,13.27,27.08,10.51,51.51,5.72,NaN,NaN
3,2016,1.0000,Transportation,NaN,17.51,5.60,NaN,NaN,NaN,35.33,NaN,18.11,9.49
4,2015,0.9875,Commercial,NaN,14.49,7.83,16.65,13.41,6.64,44.86,NaN,NaN,NaN

In [33]:
new_df.shape

(188, 13)

In [34]:
new_df.isnull().sum()

Year                0
GDP Deflator        0
Sector              0
Coal               61
Distillate          0
Residual           47
Kerosene           47
Propane            47
Natural Gas        47
Electricity         0
Wood              141
Motor Gasoline    141
Jet Fuel          141
dtype: int64

In [48]:
df=new_df.fillna(method='bfill')
df.head()

,Year,GDP Deflator,Sector,Coal,Distillate,Residual,Kerosene,Propane,Natural Gas,Electricity,Wood,Motor Gasoline,Jet Fuel
0,2016,1.0000,Commercial,3.60,11.45,6.10,13.27,12.61,5.99,42.35,5.72,18.11,9.49
1,2016,1.0000,Industrial,3.60,11.26,6.10,11.28,11.73,5.74,17.67,5.72,18.11,9.49
2,2016,1.0000,Residential,4.02,16.54,5.60,13.27,27.08,10.51,51.51,5.72,18.11,9.49
3,2016,1.0000,Transportation,4.02,17.51,5.60,16.65,13.41,6.64,35.33,6.70,18.11,9.49
4,2015,0.9875,Commercial,4.02,14.49,7.83,16.65,13.41,6.64,44.86,6.70,20.46,11.99

In [49]:
df.tail()

,Year,GDP Deflator,Sector,Coal,Distillate,Residual,Kerosene,Propane,Natural Gas,Electricity,Wood,Motor Gasoline,Jet Fuel
183,1971,0.1687,Transportation,0.48,1.45,0.47,0.73,1.43,1.17,5.50,0.4,3.02,0.75
184,1970,0.1617,Commercial,0.48,1.14,0.42,0.73,1.43,1.17,7.80,0.4,2.92,0.72
185,1970,0.1617,Industrial,0.53,0.70,0.49,0.73,1.46,0.68,3.51,0.4,2.92,0.72
186,1970,0.1617,Residential,1.43,1.43,0.37,1.56,2.66,1.37,8.83,0.4,2.92,0.72
187,1970,0.1617,Transportation,NaN,1.44,0.37,NaN,NaN,NaN,4.82,NaN,2.92,0.72

In [50]:
df=new_df.index[-1],inplace=True
df.tail()

AttributeError: 'NoneType' object has no attribute 'tail'

In [42]:
df.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

,Year,GDP Deflator,Sector,Coal,Distillate,Residual,Kerosene,Propane,Natural Gas,Electricity,Wood,Motor Gasoline,Jet Fuel
182,1971,0.1687,Residential,1.83,1.51,NaN,1.66,2.65,1.47,9.49,0.42,NaN,NaN
183,1971,0.1687,Transportation,NaN,1.45,0.47,NaN,NaN,NaN,5.50,NaN,3.02,0.75
184,1970,0.1617,Commercial,0.48,1.14,0.42,0.73,1.43,1.17,7.80,NaN,NaN,NaN
185,1970,0.1617,Industrial,0.53,0.70,0.49,0.73,1.46,0.68,3.51,NaN,NaN,NaN
186,1970,0.1617,Residential,1.43,1.43,NaN,1.56,2.66,1.37,8.83,0.40,NaN,NaN